page-home {
    .item ion-thumbnail {
        img {
            max-width: 10rem;    
            width: auto;
            height: auto;
        }
    }
    ion-navbar { 
        img {
            width: 30px;
            position: fixed;
            left: 15px;
            bottom: 12px;
        }
    }
    ion-item {
        a {
            text-decoration: none;
            padding-right: 10px;
        }
    }
    ion-icon {
        font-weight: 900;
        margin-top: 10px;
    }
    button {
        text-align: left;
    }
    .topselect {
        width: 45%;
    }
}